.KHUGUTF {
  min-height: 540px;
  max-width: 280px;
  border-radius: 5px;
  padding: 24px 0px 0px 24px;
}

.JKUv {
  position: absolute;
  margin-top: -500px;
  margin-left: 30px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.MKF9878 {
  position: absolute;
  background: #0000008b;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  margin-top: -500px;
  margin-left: 190px;
  padding: 5px 15px;
  border-radius: 20px;
  cursor: pointer;
}

.VIDeohg {
  height: 50px;
  position: absolute;
  margin-top: 250px;
  margin-left: 10%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.63);
  border: 1px solid #fff;
  border-radius: 25px;
  cursor: pointer;
}

@media all and (max-width: 1230px) {
  .MKF9878 {
    margin-left: 160px;
  }
}

@media all and (max-width: 1176px) {
  .MKF9878 {
    margin-left: 145px;
    position: relative;
    width: 85px;
  }
}

@media all and (max-width: 769px) {
  .IUTYO {
    display: none;
  }
}
