.IYMAIN {
  display: flex;
  display: none;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  text-decoration: none;
}
.IYMAIN a {
  text-decoration: none;
}
.I86iuu {
  color: #808080;
}
.I86iuu:hover {
  color: #f89c1d;
}
.selected {
  color: #f89c1d;
}
@media all and (max-width: 817px) {
  .IYMAIN {
    display: flex;
    text-align: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    width: 100%;
    z-index: 99;
    height: 33px;
    padding: 10px 0px;
  }
  .I86iuu {
    font-size: 16px;
  }
  .Hfad091 {
    font-size: 20px;
  }
}
@media all and (max-width: 650px) {
  .IYMAIN {
    width: 100%;
    height: 39px;
    padding: 10px 0px;
  }
  .I86iuu {
    font-size: 12px;
  }
}
@media all and (max-width: 450px) {
  .IYMAIN {
    width: 100%;
    height: 24px;
    padding: 10px 0;
  }
}
