.categorysection {
  width: 260px;
  height: auto;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  justify-content: left;
  margin-top: 20px;
}
.category {
  width: 91%;
  height: 40px;
  background-color: white;
  font-size: 23px;
  font-weight: bold;
  padding: 6px 0 6px 6px;
  display: flex;
  align-items: center;
  border-radius: 3px;
}
.DATA {
  display: flex;
  align-items: center;
}
.category:hover {
  background: #d9d9d9;
  cursor: pointer;
}
.category FontAwesomeIcon {
  height: 40px;
  width: 40px;
  font-size: 20px;
  margin-right: 5px;
}
.ntres {
  color: #2b2b2b;
  font-size: 18px;
  font-family: "Noto Sans Gujarati", sans-serif;
}
.IOCINC {
  height: 30px;
  width: 30px;
}

@media all and (max-width: 550px) {
  .categorysection {
    height: 33px;
    background: #fff;
    font-size: 12px;
  }
}
@media all and (max-width: 500px) {
  .categorysection {
    height: 41px;
    background: #fff;
  }
  .IOCINC {
    height: 30px;
    width: 30px;
  }
}
@media all and (max-width: 450px) {
  .categorysection {
    height: 44px;
    background: #fff;
  }
}
/* @media only screen and (max-width: 1290px) and (min-width: 1025px) {
  .categorysection {
    margin-top: 46px;
  }
} */

@media only screen and (max-width: 2000px) and (min-width: 1800px) {
  .categorysection {
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .category {
    background-color: white;
    font-size: 40px;
    font-weight: bold;
    padding: 6px 0 6px 15px;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 800px) {
  .categorysection {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-direction: row;
    margin-top: 1%;
    background: #fff;
  }
  .category {
    height: 30px;
    background-color: white;
    font-weight: bold;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
  }
  .DATA {
    width: 140px;
  }
  .ntres {
    font-size: 18px;
    margin: 0;
  }
}
@media all and (max-width: 687px) {
  .category {
    font-size: 15px;
  }

  .ntres {
    font-size: 15px;
  }
}
@media all and (max-width: 564px) {
  .categorysection {
    margin: 0;
    width: 100%;
    height: 70px;
  }
  .category {
    font-size: 12px;
    height: 16px;
  }

  .ntres {
    font-size: 15px;
  }

  .IOCINC {
    height: 15px;
    width: 15px;
  }
  .categorysection {
    width: 240%;
    height: 33px;
  }
}
@media all and (max-width: 544px) {
  .categorysection {
    width: 240%;
  }
  .DATA {
    width: 110px;
  }
}
@media all and (max-width: 500px) {
  .categorysection {
    width: 240%;
  }

  .ntres {
    font-size: 15px;
  }
}
@media all and (max-width: 500px) {
  .categorysection {
    width: 300%;
  }
}
@media all and (max-width: 436px) {
  .ntres {
    font-size: 15px;
  }

  .categorysection {
    width: 325%;
  }
}
