.FullHead {
  width: 94%;
  height: auto;
  border: 1px solid #eaeaea;
  padding: 20px 20px 8px;
  cursor: pointer;
}
.static {
  height: 80px;
}
.idcolor {
  color: #ff554b;
}

.Imges {
  position: relative;
  width: 100%;
  height: 389px;
}

.catted {
  height: 24px;
  width: 150px;
  font-weight: bold;
}

.FullHead h3 {
  height: auto;
  width: auto;
  line-height: 30px;
  font-size: 20px;
  font-family: "Noto Sans Gujarati", sans-serif;
  margin: 0;
}

.NewFooter {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 18px;
  height: 2rem;
  color: #808080;
}

.SocialIcon {
  height: 36px;
  width: 140px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.SocialIconed {
  padding-left: 10px;
  height: 24px;
  width: 24px;
}
.dateandtime {
  text-transform: uppercase;
  text-align: right;
  font-family: "poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
}
/* 
@media all and (min-width: 360px) and (max-width: 480px) {
  .FullHead {
    width: 88%;
    padding: 3px 20px 8px;
    margin-top: 3px;
    height: auto;
    border-top: none;
    padding: 3px 20px 8px;
    margin-top: 3px;
  }

  .FullHead h3 {
    line-height: 28px;
    font-size: 15px;
  }

}

@media all and (min-width: 771px) and (max-width: 1025px) {
  .FullHead {
    width: 90%;
  }
}
*/
@media all and (max-width: 550px) {
  .FullHead h3 {
    line-height: 23px;
    font-size: 15px;
  }
  .FullHead {
    padding: 10px;
  }
  .Imges {
    height: 280px;
  }
  .NewFooter {
    font-size: 16px;
    height: 1rem;
  }
  .SocialIconed {
    padding-left: 0px;
    height: 20px;
    width: 20px;
  }
  .SocialIcon {
    height: 36px;
    width: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media all and (max-width: 436px) {
  .FullHead {
    padding: 8px 8px 8px;
  }
  .Imges {
    height: 230px;
  }
}
@media all and (max-width: 800px) {
  .static {
    height: 120px;
  }
}
@media all and (max-width: 650px) {
  .static {
    height: 100px;
  }
}
